body {
    background-image: url(../img/gplaypattern.png);
    background-repeat: initial;
}

header {
    background-color: rgba(50, 100, 67, 0.25);
    border-radius: 10px;
    height: 60px;
    box-shadow: 0px 0px 5px 1px rgb(128, 121, 122);
}

@media (min-width: 560px) {

    #toggleMobileMenu a {
        font-family: Verdana;
        text-decoration: none;
        color:  rgb(65, 60, 61);
        margin-left: 50px;    
    }

    /*https://www.youtube.com/watch?v=FEmysQARWFU used this video to make a hover over animation using pseudo class elements */

    #toggleMobileMenu a:hover {
        text-decoration: none;
        color: rgb(232, 255, 225);
    }

    #toggleMobileMenu a::before {
        
        content: '';
        display: block;
        height: 3px; 
        text-decoration: none;
        background-color: rgb(232, 255, 225);
        top: 0;
        width: 0%;
        transition: all ease-in-out 200ms;
    }

    #toggleMobileMenu a:hover::before {
        text-decoration: none;
        width: 100%;
    }

    /* https://www.codegrepper.com/code-examples/css/responsive+text+size+within+container+css used for responsive font */

    p {
        text-decoration: none;
        font-family: Verdana;
        color: rgb(65, 60, 61);
        font-size: 2.5vw;
    }

    span {
        text-decoration: none;
        font-family: Verdana;
        font-size: 4vw;
        color: rgb(50, 100, 67);
    }

    footer {
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 40%;
        left: 30%;
        right: 30%;
        margin-top: 9%;
        background-color: rgba(50, 100, 67, 0.25);
        border-radius: 10px;
        color: rgb(65, 60, 61);
        text-align: center;
        font-size: 0.5vw;
        font-family: Verdana;
        box-shadow: 0px 0px 5px 1px rgb(128, 121, 122);
    }
}

@media (max-width: 560px) {

    #toggleMobileMenu a {        
        font-family: Verdana;
        text-decoration: none;
        color:  rgb(65, 60, 61);
        font-size: 3vw;   
    }

    #toggleMobileMenu a:hover {
        text-decoration: none;
        color:rgb(16, 148, 60);
    }

    p {
        text-decoration: none;
        font-family: Verdana;
        color: rgb(65, 60, 61);
        font-size: 4.5vw;
    }
    
    span {
        text-decoration: none;
        font-family: Verdana;
        font-size: 5vw;
        color: rgb(50, 100, 67);
    }

    footer {
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 40%;
        left: 30%;
        right: 30%;
        margin-top: 9%;
        background-color: rgba(50, 100, 67, 0.25);
        border-radius: 10px;
        color: rgb(65, 60, 61);
        text-align: center;
        font-size: 1.6vw;
        font-family: Verdana;
        box-shadow: 0px 0px 5px 1px rgb(128, 121, 122);
    }
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10%;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: center;
}

.fab {
    color: rgb(50, 100, 67);
}

.aboutMe {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
    text-decoration: none;
    background-color: rgba(50, 100, 67, 0.25);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(128, 121, 122); 
}

.img-about {
    height: 100%;
    width: 100%;
    background-image: url(../img/img-about.jpg);
}

#aboutMe {
    text-decoration: none;
    font-family: Verdana;
    color: rgb(65, 60, 61);
    font-size: 1vw;
}

.about-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-family: Verdana;
    color: rgb(65, 60, 61);
    font-size: 1vw;
}

.skills {
    font-family: Verdana;
    color: rgb(65, 60, 61);
    font-size: 2vw;
    padding: 0.5vw;
}